<div ng-controller="UserWallController">
	<div class="fb-profile">
		<img align="left" class="fb-image-lg" src="{{userProfile.coverImageData}}"/>
		<img align="left" class="fb-image-profile thumbnail" src="{{userProfile.profileImageData}}"/>
		<div class="fb-profile-text">
			<h1>{{userProfile.name}} <span ng-if="userProfile.isFriend">Friend</span>
			<span ng-if="userProfile.hasPendingRequest">Pending</span>
			<a href="#" ng-if="!userProfile.isFriend && !userProfile.hasPendingRequest" ng-click="sendFriendRequest($event)" class="btn btn-info">Send friend request</a></h1>
		</div>
	</div>
	<div class="container">
		<div class="col-md-offset-1 col-md-5 userWall">
			<div ng-repeat="post in userProfile.posts">
				{{post.postContent}}
				<div ng-repeat="comment in post.comments">
					{{comment.commentContent}}
				</div>
			</div>
		</div>
		<div class="col-md-offset-1 col-md-4">
			<div class="row" ng-if="userProfile.isFriend">
				<div class="well" style="padding-bottom:0">
					<form accept-charset="UTF-8" class="text-center">
						<textarea class="form-control" ng-model="postMessage" id="new_message" name="new_message"
						placeholder="Type in your message" ></textarea>
						<button class="btn btn-info" ng-disabled="postMessage.length <= 0" type="submit">Post Message</button>
					</form>
				</div>
			</div>
			<div class="panel panel-default" ng-if="userProfile.isFriend">
				<div class="panel-heading">Friends - {{userProfile.friendsTotal}} total</div>
				<div class="panel-body">
					<div class="friend col-md-1" ng-repeat="friend in userProfile.friends">
						<img src="friend.profileImageData">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>